<div class="show-body">
  <h2><%= @user.name %></h2>
  <marquee scrolldelay='60'><img class="show-img" src="<%= @user.img_url %>" alt="<%= @user.name%>"></marquee> 



  <span><%= link_to "userS HOME", users_path %></span>

</div>