<h1>INDEX PAGE</h1>

<ul>
  <% @students.each do |student| %>
    <li><%= link_to student.name, "/students/#{student.id}" %></li>
    <li><%= link_to student.name, student_path(student.id) %></li>
    <li><%= link_to student.name, student_path(student) %></li>
    <li><%= link_to student.name, student %></li>
  <% end %>
</ul>