<h3>CREATE NEW SONG</h3>

<form action="/songs" method="POST" >
  <label for="title_field"></label>
  <input type="text"name="title" placeholder='Title'>
  <input type="text" name="genre" placeholder='Genre'>
  <input type="text" name="artist" placeholder='Artist'>
  <input type="number" name="release_year" placeholder='Release_year'>
  <input type="text" name="img_url" placeholder='Image URL'>
  <input type="submit" value='Create Song'>
</form>